@media (min-width: 64em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .section-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    main .section-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    main .section-3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}