/* ALL CONTENT */
body {
    font-size: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #00D0D9;
}

header, main, footer {
    max-width: 920px;
    margin: auto;
}

header, footer {
    background-color: #072A40;
    color: #fff;
    box-shadow: 0 0 20px #000;
}

/* HEADER */
header {
    padding: 0.3em;
}

header h1, header h2 {
    text-align: center;
    font-family: 'Dosis', Helvetica, sans-serif;
}

/* BODY */

main section {
    max-width: 95%;
    background-color: #F9F7F0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
    margin: 2.5rem 5%;
}

main h3 {
    font-family: 'Dosis', Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem 5%;
    background-color: #072A40;
    color: #fff;
    margin-top: 0;
}

main h4 {
    padding: 0 5%;
    font-size: 1.5rem;
}

main a {
    padding: 0 5%;
    font-size: 1.5rem;
}

main img {
    max-width: 90%;
    margin: 2rem 5%;
    box-shadow: 0 0 20px #000;
}

main p {
    padding: 0.5rem 5%;
    margin-top: 0;
    font-size: 1.3rem;
}

/* FOOTER */
footer {
    padding: 0.3em;
}

footer p {
    text-align: center;
}